<div class="panel panel-primary">
    <!--<div class="panel-heading">
        {{title}}
    </div>-->
    <div class="panel-body">
        <!--<div class="row">
            <div class="col-md-2">GameId</div>
            <div class="col-md-4">
                CreatorPlayerId
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>-->
        <h2>Games for Player with ID = {{playerId}}</h2>
        <game-sublist [listName]="finishedListName" [gameResponse]="games"></game-sublist>
    </div>
</div>
