<h3>{{listName}}</h3>
<div class="table-responsive">
    <table class="table" *ngIf="gameResponse && gameResponse.Games && gameResponse.Games.length">
        <thead *ngIf="gameResponse.Games  | gamesFilter:filterBy">
            <tr>
                <th>GameId</th>
                <th>Country</th>
                <th>Round</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of gameResponse.Games  | gamesFilter:filterBy">
                <a href="game?gameId={{game.Id}}&playerId={{playerId}}">
                    <td>{{game.Id}}</td>
                </a>
                <td>
                    <span>{{game | gameCountry:playerId}}</span>
                </td>
                <td>{{game | gameRound}}</td>
            </tr>
        </tbody>
    </table>
</div>